{% extends 'oil_grants/base.html' %}
{% block title %}
    Home
{% endblock %}


{% block content %}

    <div style="margin-left: 10px; border: 2px black solid; width: 500px;">
        {% for competition in competitions %}
            <div style="width: 400px; border: black solid 2px; margin: 50px;">
                    <p>{{ competition.company.name }}</p>
                    <p>{{ competition.start }} - {{ competition.end }}</p>
                    <p>{{ competition.get_status_display }}</p>

            </div>
        {% endfor %}
    </div>

{% endblock %}