<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Restore</title>
</head>
<body>
    <h1>Hello, {{ email }}. Please, enter new password!</h1>
    <form action="{% url 'restore_url' uidb64=uidb64 token=token%}"  method="post">
        {% csrf_token %}
        {% for error in errors %}
           <p>{{ error }}</p>
        {% endfor %}

        <div>
            <label>New Password</label>
            <input type="password" name="password1">
        </div>
        <div>
            <label>Confirm New Password</label>
            <input type="password" name="password2">
        </div>

        <button type="submit">Change password! </button>
    </form>

</body>
</html>