{% extends 'users_app/base.html' %}

{% block title %}
    Восстановление
{% endblock %}

{% block content %}
    <div class="container">
        <h1>Здравствуйте, {{ email }}. Пожалуйста введите новый пароль!</h1>
        <form action="{% url 'restore_url' uidb64=uidb64 token=token%}"  method="post">
            {% csrf_token %}
            {% for error in errors %}
               <p>{{ error }}</p>
            {% endfor %}

          <div class="user-in-details">
            <div class="input-box">
                <label>Новый пароль</label>
                <input type="password" name="password1">
            </div>
            <div class="input-box">
                <label>Подтвердите пароль</label>
                <input type="password" name="password2">
            </div>
          </div>

            <script src='https://www.google.com/recaptcha/api.js'></script>
            <div class="form-group g-recaptcha" data-sitekey="6Lf2YAscAAAAAFnQGZThKyf0Nq9VS6lG31Xe-P1B"></div>
            {% if messages %}
                {% for message in messages %}
                    {{ message }}
                {% endfor %}
            {% endif %}

            <div class="button">
                <input type="submit" value="Сменить пароль!">
            </div>
        </form>
    </div>
{% endblock %}