<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update user</title>
</head>
<body>
    <form action="{% url 'update_user_url' %}"  method="post" enctype='multipart/form-data'>
        {% csrf_token %}

        {{ form.non_field_errors }}
        {% for field in form %}

            <div class="form-group">

            {{ field.label }}
            {{ field }}
                {% if field.errors %}
                    <div class="alert alert-danger">
                        {{ field.errors }}
                    </div>
                {% endif %}
            </div>

        {% endfor %}

        <p>
            <button type="submit" name="button" class="btn btn-primary"> Update! </button>
        </p>

    </form>
</body>
</html>