{% extends 'oil_grants/base.html' %}

{% block title %}
    Сменить пароль
{% endblock %}

{% block content %}

        <div class="container">
        
            <section class="section-content py-5">
                <div class="row">
                    <aside class="col-lg-3 mb-5"> 
            <!-- ============= COMPONENT ============== -->
                         <nav class="sidebar card py-2">
                                <ul class="nav flex-column ">
                                     <li class="nav-item">
                                        <a class="nav-link text-dark" href="{% url 'user_info_url' %}"> Личный кабинет </a>
                                    </li>
                                    <li class="nav-item active">
                                        <a class="nav-link text-dark" href="{% url 'update_user_url' %}"> Редактировать профиль </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" href="{% url 'password_update' %}"> Изменить пароль </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" href="{% url 'applications_url' %}"> Ваши заявления </a>
                                    </li>
                                </ul>
                            </nav>
            <!-- ============= COMPONENT END// ============== -->	
                    </aside>
                    <main class="col-lg-9">
                        <div class="container rounded bg-white mb-0">
                            <div class="row">
                                <div class=" border-right">
                                    <div class="p-3 py-0">
                                        <div class="d-flex justify-content-between align-items-center mb-3">
                                            <h4 class="text-justify-center">Изменить пароль</h4>
                                        </div>

                                        <form action="{% url 'password_update' %}" method="post">
                                            {% csrf_token %}
                                             {% if error %}
                                                <div class="alert alert-danger">
                                                    {{ error }}
                                                </div>
                                            {% endif %}
                                            {% for field in form %}
                                                <div class="row mt-3">
                                                    <div class="col-md-12">
                                                        <p>
                                                            {{ field.label }}
                                                        </p>
                                                        {{ field }}
                                                    </div>
                                                </div>
                                            {% endfor %}

                                            <div style="margin-top: 10px;">
                                                 {% if messages %}
                                                    {% for message in messages %}
                                                        {{ message }}
                                                    {% endfor %}
                                                {% endif %}
                                                <script src='https://www.google.com/recaptcha/api.js'></script>
                                                <div class="form-group g-recaptcha" data-sitekey="6Lf2YAscAAAAAFnQGZThKyf0Nq9VS6lG31Xe-P1B"></div>
                                            </div>
                                            <div class="mt-5 text-center">
                                                <button class="btn btn-outline-primary me-md-4" type="submit"> Сохранить </button>
                                                <button class="btn btn-outline-primary" type="button"> Отмена </button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </main>
                </div>
            </section>
        
        </div>

{% endblock %}