{% extends 'oil_grants/base.html' %}

{% block title %}
    Редактирование
{% endblock %}

  {% block content %}
        <div class="container">
        
            <section class="section-content py-5">
                <div class="row">
                    <aside class="col-lg-3 mb-5"> 
            <!-- ============= COMPONENT ============== -->
                            <nav class="sidebar card py-2">
                                <ul class="nav flex-column ">
                                     <li class="nav-item">
                                        <a class="nav-link text-dark" href="{% url 'user_info_url' %}"> Личный кабинет </a>
                                    </li>
                                    <li class="nav-item active">
                                        <a class="nav-link text-dark" href="{% url 'update_user_url' %}"> Редактировать профиль </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" href="{% url 'password_update' %}"> Изменить пароль </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-dark" href="{% url 'applications_url' %}"> Ваши заявления </a>
                                    </li>
                                </ul>
                            </nav>
            <!-- ============= COMPONENT END// ============== -->
                    </aside>
                    <main class="col-lg-9">
                        <div class="container rounded bg-white mt-0 mb-0">
                            <div class="row">
                                <div class=" border-right">
                                    <div class="p-3 py-0">
                                        <div class="d-flex justify-content-between align-items-center mb-3">
                                            <h4 class="text-justify-center">Редактировать профиль</h4>
                                        </div>
                                        <form action="{% url 'update_user_url' %}"  method="post" enctype='multipart/form-data'>
                                            {% csrf_token %}

                                            {{ form.non_field_errors }}
                                                {% for field in form %}

                                                    <div class="form-group">

                                                    {{ field.label }}
                                                    {{ field }}
                                                        {% if field.errors %}
                                                            <div class="row mt-3">
                                                                {{ field.errors }}
                                                            </div>
                                                        {% endif %}
                                                    </div>

                                                {% endfor %}

                                            <div class="mt-5 text-center">
                                                <button class="btn btn-outline-primary me-md-4" type="submit" name="button"> Сохранить </button>
                                                <a href="{% url 'user_info_url' %}"><button class="btn btn-outline-primary" type="button" > Отмена </button></a>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </main>
                </div>
            </section>
        
        </div>
    

{% endblock %}